{% extends template.self %}

{% block style %}
    {{ super() }}
	<script src="/assets/js/nav-bar.js"></script>
	<script src="/assets/js/nav-avatar.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
		  document.querySelectorAll('pre code').forEach((block) => {
		    hljs.highlightBlock(block);
		  });
		});

	</script>
	<link rel="stylesheet" href="/assets/css/theme.css">
	<style>
		code.lang-bash:before {
			display: inline-block !important;
			content: '$' !important;
			margin-right: 1rem;
		}

		/* Overrides */
		body .book .book-body .page-wrapper .page-inner section.normal pre {
			color: white;
		    font-size: 0.925em;
		    line-height: 1.35em;
		}
		.color-theme-2 #book-search-input {
		    background: rgba(255,255,255,0.1);
		}
		.color-theme-2 #book-search-results .search-results .has-results .search-results-item {
			color: white;
		}
	</style>
	<link rel="stylesheet" href="/assets/css/hljs-monokai-theme.css">
{% endblock %}
{% block body %}
	<!--<nav-bar>
		<nav-avatar user-api="/user" direction="right" />
	</nav-bar>-->
    {{ super() }}
{% endblock %}